<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LoginSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <!-- 1. Define the servlet -->
<servlet>
    <servlet-name>MyHelloServlet</servlet-name>
    <servlet-class>com.ecomm.servlet.LoginServlet.java</servlet-class>
</servlet>

<!-- 2. Map it to a URL pattern -->
<servlet-mapping>
    <servlet-name>MyHelloServlet</servlet-name>
    <url-pattern>/login</url-pattern>
</servlet-mapping>
  
</web-app>